In [2]:
## Connecting to the database

## importing 'mysql.connector' as mysql for convenient
import mysql.connector as mysql

## connecting to the database using 'connect()' method
## it takes 3 required parameters 'host', 'user', 'passwd'
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin='mysql_native_password'    ## In MySQL 8.0, caching_sha2_password is the default authentication plugin rather than mysql_native_password.
)

print(db) # it will print a connection object if everything is fine

<mysql.connector.connection.MySQLConnection object at 0x0000026FBA83B7F0>

In [16]:
## Display list of database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin='mysql_native_password'  
)

cursor = db.cursor()

## executing the statement using 'execute()' method
cursor.execute("SHOW DATABASES")

## 'fetchall()' method fetches all the rows from the last executed statement
databases = cursor.fetchall() ## it returns a list of all databases present
## The fetchall() method fetches all (or all remaining) rows of a query result set and returns a list of tuples.

## printing the list of databases
print(databases)
print('\n')
print('List of Database')
## showing one by one database
for database in databases:
    print(database)

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',), ('testdb',)]


List of Database
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('testdb',)

In [6]:
## Creating a database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin='mysql_native_password'  
)

## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()
sql="CREATE DATABASE testdb"
## creating a databse called 'testdb'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'testdb' database
cursor.execute(sql)
print("DATABASE testdb created")

DATABASE testdb created

In [4]:
## Remove a database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin='mysql_native_password'  
)

## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

## creating a databse called 'testdb'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'testdb' database
cursor.execute("DROP DATABASE testdb")
print("DATABASE testdb removed")

DATABASE testdb removed

In [7]:
## Creating a table in database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## creating a table called 'employees' in the 'testdb' database
cursor.execute("CREATE TABLE employees (empcode char(4), empname VARCHAR(255), age int, country VARCHAR(255))")
print("TABLE employees created")

TABLE employees created

In [44]:
## Removing  a table in database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## creating a table called 'employees' in the 'testdb' database
cursor.execute("DROP TABLE employees ")
print("TABLE employees dropped")

TABLE employees dropped

In [8]:
## Display list of table in database

import mysql.connector as mysql123

db123 = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor123 = db123.cursor()

## getting all the tables which are present in 'datacamp' database
cursor123.execute("SHOW TABLES")

tables123 = cursor123.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables123:
    print(table)

('employees',)

In [9]:
## removing  a table from database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## first we have to 'drop' the table which has already created to create it again with the 'PRIMARY KEY'
## 'DROP TABLE table_name' statement will drop the table from a database
cursor.execute("DROP TABLE employees")
print("TABLE employees dropped")
## creating the 'users' table again with the 'PRIMARY KEY'
cursor.execute("CREATE TABLE employees (empcode INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), age int, country VARCHAR(255))")
print("TABLE employees created")

TABLE employees dropped
TABLE employees created

In [32]:
# Program to display the structure of a table

import mysql.connector as mysql123

db123 = mysql123.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor123 = db123.cursor()

## 'DESC table_name' is used to get all columns information
cursor123.execute("DESC employees")

## it will print all the columns as 'tuples' in a list
print(cursor123.fetchall())

[('empcode', b'int', 'NO', 'PRI', None, 'auto_increment'), ('name', b'varchar(255)', 'YES', '', None, ''), ('age', b'int', 'YES', '', None, ''), ('country', b'varchar(255)', 'YES', '', None, '')]

In [33]:
# Program to store data in a table

import mysql.connector as mysql123

db123 = mysql123.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor123 = db123.cursor()

## defining the Query
query123 = "INSERT INTO employees (name, age, country) VALUES (%s, %s, %s)"
## storing values in a variable
values123 = ("Asok", "20", "India")

## executing the query with values
cursor.execute(query123, values123)

## to make final output we have to run the 'commit()' method of the database object
db123.commit()

print(cursor123.rowcount, "record inserted")

-1 record inserted

In [37]:
# Program to display data in a table

import mysql.connector as mysql123
from mysql.connector import Error

try:
    db123 = mysql123.connect(
        host = "localhost",
        user = "root",
        passwd = "Mysql@1234",
        auth_plugin ='mysql_native_password',
        database ='testdb'
    )

    sql_select_Query123 = "SELECT empcode, name, age, country FROM employees"
    cursor123 = db123.cursor()
    cursor123.execute(sql_select_Query123)
    records123 = cursor123.fetchall()
    print("Total number of rows in employees is: ", cursor123.rowcount)

    print("\n Dislaying  each employee record")
#    for row123 in records123:
#        print("Empcode = ", row123[0])
#        print("Name = ", row123[1])
#        print("Age  = ", row123[2])
#        print("Country  = ", row123[3], "\n")
        
#    for rec in records:
#        print(rec)     

    for a,b,c,d in records123:         # No of variables should match no of columns
        print("Empcode  = ", a)
        print("Name = ", b)
        print("Age  = ", c)   
    
except Error as e123:
    print("Error reading data from MySQL table", e123)
finally:
    if (db123.is_connected()):
        cursor123.close()
        db123.close()

Total number of rows in employees is:  5

 Dislaying  each employee record
(6, 'Akshay', 22, 'India')
(3, 'Amy', 31, 'UK')
(1, 'Asok', 20, 'India')
(4, 'Michael', 30, 'Japan')

In [38]:
# Program to store multiple  data in a table

import mysql.connector as mysql123

db123 = mysql123.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor123 = db.cursor()

## defining the Query
query123 = "INSERT INTO employees (name, age, country) VALUES (%s, %s, %s)"
## storing values in a variable
values123 = [
    ("Peter", "34", "US"),
    ("Amy", "31","UK"),
    ("Michael", "30", "Japan"),
    ("Hennah", "32","Malayasia")
]

## executing the query with values
cursor123.executemany(query123, values123)

## to make final output we have to run the 'commit()' method of the database object
db123.commit()

print(cursor123.rowcount, "records inserted")

4 records inserted

In [48]:
# Program to display  data from a table based on condition

import mysql.connector as mysql123

db123 = mysql123.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor123 = db123.cursor()

## defining the Query
query123 = "SELECT * FROM employees  ORDER BY age " 
##  SELECT * FROM <tablename>  WHERE <condition> ORDER BY <columnname>

## WHERE is used to select data on some condition.
##  ORDER BY to sort the result in ascending or descending order

## getting records from the table
cursor123.execute(query123)

## fetching all records from the 'cursor' object
records123 = cursor123.fetchall()

## Showing the data
for record123 in records123:
    print(record123)

(1, 'Asok', 20, 'India')
(4, 'Michael', 30, 'Japan')
(3, 'Amy', 31, 'UK')
(2, 'Kareem', 38, 'US')

In [46]:
# Program to delete data from a table 

import mysql.connector as mysql123

db123 = mysql123.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor123 = db123.cursor()

## defining the Query
query123 = "DELETE FROM employees WHERE empcode = 6"

## executing the query
cursor123.execute(query123)

## final step to tell the database that we have changed the table data
db123.commit()
print("Employee code 6  deleted")

Employee code 6  deleted

In [47]:
# Program to update data from a table

import mysql.connector as mysql123

db = mysql123.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor123 = db123.cursor()

## defining the Query
query123 = "UPDATE employees SET name = 'Kareem', age=38 WHERE empcode = 2"

## executing the query
cursor123.execute(query123)

## final step to tell the database that we have changed the table data
db123.commit()
print("Employee code 2   updated")

Employee code 2   updated

In [ ]:
# Program to display data from a table based on user input 

#  bibhutidalai@gmail.com

import mysql.connector as mysql123

x123 = input()


db123 = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor123 = db123.cursor()

## defining the Query
query123 = "SELECT * FROM employees WHERE empcode="+x123

## WHERE is used to select data on some condition.


## getting records from the table
cursor123.execute(query123)

## fetching all records from the 'cursor' object
records123 = cursor123.fetchall()
ctr=cursor123.rowcount

if ctr==0:
    print(' Empcode not found')

## Showing the data
for record123 in records123:
    print(record123)

In [ ]:
# Program to accept input and add in table

import mysql.connector as mysql

print('Enter Name, Age , Country ')
x = input()
y=input()
z=input()


db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## defining the Query
query = "INSERT INTO employees (name, age, country) VALUES (%s, %s, %s)"
## storing values in a variable
values = (x, y, z)

## executing the query with values
cursor.execute(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()

print(cursor.rowcount, "record inserted")

In [31]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "Mysql@1234",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## defining the Query
query = "SELECT * FROM employees WHERE age < 32 ORDER BY name "    ## LIMIT 5

#query = "SELECT \
#  users.name AS user, \
#  products.name AS favorite \
#  FROM users \
#  INNER JOIN products ON users.fav = products.id"

## WHERE is used to select data on some condition.
##  ORDER BY to sort the result in ascending or descending order

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()
desc = cursor.description

print ("%s %3s %3s %5s" % (desc[0][0], desc[1][0], desc[2][0], desc[3][0]))
## Showing the data
for record in records:
    print ("%2s %10s %3s %5s" % record)

empcode name age country
 6     Akshay  22 India
 3        Amy  31    UK
 1       Asok  20 India
 4    Michael  30 Japan