In [80]:
## Connecting to the database

## importing 'mysql.connector' as mysql for convenient
import mysql.connector as mysql

## connecting to the database using 'connect()' method
## it takes 3 required parameters 'host', 'user', 'passwd'
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin='mysql_native_password'             ## In MySQL 8.0, caching_sha2_password is the default authentication plugin rather than mysql_native_password.
)

print(db) # it will print a connection object if everything is fine

<mysql.connector.connection.MySQLConnection object at 0x00000018E2FA3400>

In [79]:
## Display list of database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin='mysql_native_password'  
)

cursor = db.cursor()

## executing the statement using 'execute()' method
cursor.execute("SHOW DATABASES")

## 'fetchall()' method fetches all the rows from the last executed statement
databases = cursor.fetchall() ## it returns a list of all databases present

## printing the list of databases
print(databases)

## showing one by one database
for database in databases:
    print(database)

[('automate',), ('cms',), ('cms1',), ('csz',), ('drilldowndb',), ('ebudget',), ('expense',), ('fssm',), ('fusion',), ('harsha',), ('harshas',), ('homestead',), ('hr',), ('information_schema',), ('invoicefy',), ('jauto',), ('laravel_inventory',), ('mlm',), ('mlm2',), ('mysql',), ('newsportal',), ('nmotors',), ('october',), ('online_news',), ('performance_schema',), ('prince',), ('quiz_new',), ('sakila',), ('sentrifugo',), ('srms',), ('subrion',), ('subrion2',), ('sys',), ('testdb',)]
('automate',)
('cms',)
('cms1',)
('csz',)
('drilldowndb',)
('ebudget',)
('expense',)
('fssm',)
('fusion',)
('harsha',)
('harshas',)
('homestead',)
('hr',)
('information_schema',)
('invoicefy',)
('jauto',)
('laravel_inventory',)
('mlm',)
('mlm2',)
('mysql',)
('newsportal',)
('nmotors',)
('october',)
('online_news',)
('performance_schema',)
('prince',)
('quiz_new',)
('sakila',)
('sentrifugo',)
('srms',)
('subrion',)
('subrion2',)
('sys',)
('testdb',)

In [41]:
## Creating a database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin='mysql_native_password'  
)

## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

## creating a databse called 'testdb'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'testdb' database
cursor.execute("CREATE DATABASE testdb")
print("DATABASE testdb created")

DATABASE testdb created

In [40]:
## Remove a database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin='mysql_native_password'  
)

## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

## creating a databse called 'testdb'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'testdb' database
cursor.execute("DROP DATABASE testdb")
print("DATABASE testdb removed")

DATABASE testdb removed

In [45]:
## Creating a table in database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## creating a table called 'employees' in the 'testdb' database
cursor.execute("CREATE TABLE employees (empcode char(4), empname VARCHAR(255), age int, country VARCHAR(255))")
print("TABLE employees created")

TABLE employees created

In [44]:
## Removing  a table in database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## creating a table called 'employees' in the 'testdb' database
cursor.execute("DROP TABLE employees ")
print("TABLE employees dropped")

TABLE employees dropped

In [46]:
## Display list of table in database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## getting all the tables which are present in 'datacamp' database
cursor.execute("SHOW TABLES")

tables = cursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)

('employees',)

In [47]:
## removing  a table from database

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## first we have to 'drop' the table which has already created to create it again with the 'PRIMARY KEY'
## 'DROP TABLE table_name' statement will drop the table from a database
cursor.execute("DROP TABLE employees")
print("TABLE employees dropped")
## creating the 'users' table again with the 'PRIMARY KEY'
cursor.execute("CREATE TABLE employees (empcode INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), age int, country VARCHAR(255))")
print("TABLE employees created")

TABLE employees dropped
TABLE employees created

In [48]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## 'DESC table_name' is used to get all columns information
cursor.execute("DESC employees")

## it will print all the columns as 'tuples' in a list
print(cursor.fetchall())

[('empcode', b'int(11)', 'NO', bytearray(b'PRI'), None, 'auto_increment'), ('name', b'varchar(255)', 'YES', bytearray(b''), None, ''), ('age', b'int(11)', 'YES', bytearray(b''), None, ''), ('country', b'varchar(255)', 'YES', bytearray(b''), None, '')]

In [51]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## defining the Query
query = "INSERT INTO employees (name, age, country) VALUES (%s, %s, %s)"
## storing values in a variable
values = ("Asok", "20", "India")

## executing the query with values
cursor.execute(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()

print(cursor.rowcount, "record inserted")

1 record inserted

In [81]:
import mysql.connector as mysql
from mysql.connector import Error

try:
    db = mysql.connect(
        host = "localhost",
        user = "root",
        passwd = "zspl@123",
        auth_plugin ='mysql_native_password',
        database ='testdb'
    )

    sql_select_Query = "select empcode, name, age, country from employees"
    cursor = db.cursor()
    cursor.execute(sql_select_Query)
    records = cursor.fetchall()
    print("Total number of rows in emplyees is: ", cursor.rowcount)

    print("\n Dislaying  each employee record")
    for row in records:
        print("Empcode = ", row[0])
        print("Name = ", row[1])
        print("Age  = ", row[2])
        print("Country  = ", row[3], "\n")
        
#    for rec in records:
#        print(rec)     

#    for a,b,c,d in records:         # No of variables should match no of columns
#        print("Empcode  = ", a)
#        print("Name = ", b)
#        print("Age  = ", c)   
    
except Error as e:
    print("Error reading data from MySQL table", e)
finally:
    if (db.is_connected()):
        cursor.close()
        db.close()

Total number of rows in emplyees is:  4

 Dislaying  each employee record
Empcode =  1
Name =  Asok
Age  =  20
Country  =  India

Empcode =  2
Name =  Kareem
Age  =  34
Country  =  US

Empcode =  3
Name =  Amy
Age  =  31
Country  =  UK

Empcode =  4
Name =  Michael
Age  =  30
Country  =  Japan

In [63]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## defining the Query
query = "INSERT INTO employees (name, age, country) VALUES (%s, %s, %s)"
## storing values in a variable
values = [
    ("Peter", "34", "US"),
    ("Amy", "31","UK"),
    ("Michael", "30", "Japan"),
    ("Hennah", "32","Malayasia")
]

## executing the query with values
cursor.executemany(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()

print(cursor.rowcount, "records inserted")

4 records inserted

In [73]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## defining the Query
query = "SELECT * FROM employees WHERE age < 32 ORDER BY name "   

## WHERE is used to select data on some condition.
##  ORDER BY to sort the result in ascending or descending order

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(3, 'Amy', 31, 'UK')
(1, 'Asok', 20, 'India')
(4, 'Michael', 30, 'Japan')

In [75]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## defining the Query
query = "DELETE FROM employees WHERE empcode = 5"

## executing the query
cursor.execute(query)

## final step to tell the database that we have changed the table data
db.commit()
print("Employee code 5  deleted")

Employee code 5   deleted

In [77]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "zspl@123",
    auth_plugin ='mysql_native_password',
    database ='testdb'
)

cursor = db.cursor()

## defining the Query
query = "UPDATE employees SET name = 'Kareem' WHERE empcode = 2"

## executing the query
cursor.execute(query)

## final step to tell the database that we have changed the table data
db.commit()
print("Employee code 2  updated")

Employee code 2   updated